<table id ='table_bulk' class="table table-centered table-nowrap mb-0 rounded">
    <thead class="thead-light">
        <tr>
            <th class="border-0 rounded-start">#</th>
            <th class="border-0">user</th>
            <th class="border-0">title</th>
            <th class="border-0">type</th>
            <th class="border-0">start time</th>
            <th class="border-0">end time</th>
            <th class="border-0">passed</th>
            <th class="border-0">total</th>
            <th class="border-0">status</th>
            <th class="border-0"  width="15%">Export</th>
            <th class="border-0 rounded-end">Action</th>
        </tr>
    </thead>
    <tbody>
        
      {% for row in bulk_list %}
          <tr>
            <td>
              <a class="text-primary fw-bold">
                 {{ row.index }}
              </a>
            </td>
            <td>
              {{ row.user }}
            </td>
            <td>
              {{ row.title }}
            </td>
            <td class="fw-bold align-items-center">
              {% include "includes/request_type_logo.html" %}
            </td>
            <td>
              {{ row.start_time }}
            </td>
            <td>
              {% if row.end_time != None %}
                  {{ row.end_time }}
              {% endif %}
            </td>
            <td>
              {{ row.passed_count }}
            </td>
            <td>
              {{ row.total_count }}
            </td>
            <td class="">
              {% include "includes/bulk_status_label.html" %}                            
            </td>
            
            <!-- Export Excel -->
            <td class="">

              <!-- Category Extraction -->
              {% if row.status == 'Completed' and row.request_type == 'Youtube-Category Extraction' %}
               
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_category_csv('{{row.bulk_id}}')" >
                  .csv
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button>
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_category_xlsx('{{row.bulk_id}}')" >
                  .xlsx
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button> 
                
              <!-- Keyword Extraction -->
              {% elif row.status == 'Completed' and row.request_type == 'Keyword Extraction' %}
               
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_keyword_csv('{{row.bulk_id}}')" >
                  .csv
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button>
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_keyword_xlsx('{{row.bulk_id}}')" >
                  .xlsx
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button> 

              <!-- Named Entity Recognition -->
              {% elif row.status == 'Completed' and row.request_type == 'Named-Entity Recognition' %}
               
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_ner_csv('{{row.bulk_id}}')" >
                  .csv
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button>
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_ner_xlsx('{{row.bulk_id}}')" >
                  .xlsx
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button> 
              
            <!-- Named Entity Recognition -->
              {% elif row.status == 'Completed' and row.request_type == 'Sentiment Analysis' %}
               
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_sentiment_csv('{{row.bulk_id}}')" >
                  .csv
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button>
                <button class="btn btn-sm-2x btn-warning" type="submit" id='download_button' onclick="bulk_download_sentiment_xlsx('{{row.bulk_id}}')" >
                  .xlsx
                  <svg class="icon icon-xs ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" /></svg>
                </button> 

              {% endif %}
            </td>
            <td>
              
        
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-delete_{{row.bulk_id}}" type="submit" onclick="delete_button_clicked('{{ row.id }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 15 15">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </button>

        
        <!-- Modal Content update -->
        <div class="modal fade" id="modal-default-delete_{{row.bulk_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/delete_bulk_admin/bulk_{{ row.bulk_id }}" method= "POST">
                        

                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p name="modal_title", id="modal_title">Are you sure to delete this bulk?</p>
                            
                            {% csrf_token %}                             
                            
                            <label >Bulk : {{ row.title }}</label>
                            <div class="">
                                <input class="form-control" name="" type="text" placeholder="Enter the title of Bulk here ..." value="" required> <!-- required -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-green-800" type="submit">Yes</button>
                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
       
            </td>
          </tr>
      {% endfor %}

        
    </tbody>
</table>