
<div id="chart_bulk_sentiment" class="row mt-5">

    <div class="d-flex justify-content-between w-100 mb-4 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h5">
                
                Top 10 NER 
            </h1>
        </div>
        
    </div>

  <div class="col-12 mb-4">
      <div class="card bg-yellow-100 border-0 shadow">
         
          <div class="card-body p-2">
            <div class="row">

                    <div class="bar-chart-horizontal-bulk-ner-top-count" ></div>


                    <div class="bar-chart-horizontal-bulk-ner-top-sentiment"></div>

            </div>
            <div id = "bar_chart_top_count" hidden> {{ ner_bulk_list_chart_top_count }} </div>
            
            </div>
      </div>
  </div>


</div>


</div>