 <!-- Homepage Head -->
 <head> 

    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGFCX6F');</script> -->
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>
        Extracting Comments Insights    
    </title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Comments Analytics | Analysis of comments to obtain insights">
    <meta name="author" content="Am">
    <meta name="description" content="Extracting the comments of pages in order to analyse and present the insights in them.">
    <meta name="keywords" content="Django, Web Scrapping, Comments Extracting, Micro Services, Docker, Nginx, Bootstrap" />
    <link rel="canonical" href="">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="profile browse | Finding Profile URLs" />
    <meta property="og:type" content="Social Network, Business Info">
    <meta property="og:url" content="https://commentsanalytics.com/">
    <meta property="og:image" content="https://commentsanalytics.com/static/assets/img/favicon/favicon_32X32.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://commentsanalytics.com/">
    <meta property="twitter:site" content="https://commentsanalytics.com/">
    <meta property="twitter:title" content="profile browse | Finding Profile URLs">
    <meta property="twitter:image" content="https://commentsanalytics.com/static/assets/img/favicon/favicon_32X32.png">
    <meta property="twitter:description" content="Extracting the comments of pages in order to analyse and present the insights in them.">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/favicon_120x120.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon_32X32.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/assets/img/favicon/favicon_512X512.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/static/assets/img/favicon/favicon_120X120.png">

    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Sweet Alert -->
    <link type="text/css" href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" /> -->
    <!-- <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="/static/assets/css/soft-ui-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- Place this tag in your head or just before your close body tag. -->

    <link type="text/css" href="/static/assets/vendor/apexcharts/dist/apexcharts.css" rel="stylesheet">
    <script src="/static/assets/vendor/apexcharts/dist/apexcharts.min.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
    <!-- <link type="text/css" href="/static/assets/css/docs.css" rel="stylesheet"> -->



</head>