<div class="container">
	<div class="featured-posts carousel owl owl-loaded owl-drag">
		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2684px;">
				<div class="owl-item active" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-creative-tim tag-web-developer-job featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-creative-tim" href="https://www.creative-tim.com/blog/creative-tim/" title="Creative Tim">Creative Tim</a>
								<a class="post-image-link" href="/blog/creative-tim/announcing-jobs-by-creative-tim/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2022/02/jobs-blog--1-.jpg" alt="Announcing Jobs by Creative Tim - The Platform for web professionals" src="https://www.creative-tim.com/blog/content/images/size/w750/2022/02/jobs-blog--1-.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/creative-tim/announcing-jobs-by-creative-tim/">Announcing Jobs by Creative Tim - The Platform for web professionals</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item active" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-creative-tim tag-discord featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-creative-tim" href="https://www.creative-tim.com/blog/creative-tim/" title="Creative Tim">Creative Tim</a>
								<a class="post-image-link" href="/blog/creative-tim/find-us-on-discord/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2022/02/discord-blog.jpg" alt="Creative Tim is on Discord!" src="https://www.creative-tim.com/blog/content/images/size/w750/2022/02/discord-blog.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/creative-tim/find-us-on-discord/">Creative Tim is on Discord!</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item active" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-creative-tim tag-educational-ui-ux tag-web-design tag-book featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-creative-tim" href="https://www.creative-tim.com/blog/creative-tim/" title="Creative Tim">Creative Tim</a>
								<a class="post-image-link" href="/blog/creative-tim/book-fundamentals-creating-ui-ux/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2022/01/cover--3-.jpg" alt="Book Release:  Fundamentals of Creating a Great UI/UX by Creative Tim" src="https://www.creative-tim.com/blog/content/images/size/w750/2022/01/cover--3-.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/creative-tim/book-fundamentals-creating-ui-ux/">Book Release: Fundamentals of Creating a Great UI/UX by Creative Tim</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-educational-tech tag-backend tag-web-developer tag-web-developer-skills featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-educational-tech" href="https://www.creative-tim.com/blog/educational-tech/" title="Educational Tech">Educational Tech</a>
								<a class="post-image-link" href="/blog/educational-tech/complete-roadmap-becoming-backend-developer/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2021/12/how-to-become-backend-developer.jpg" alt="The Complete Roadmap for Becoming a Backend Developer: Step-By-Step Instructions" src="https://www.creative-tim.com/blog/content/images/size/w750/2021/12/how-to-become-backend-developer.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/educational-tech/complete-roadmap-becoming-backend-developer/">The Complete Roadmap for Becoming a Backend Developer: Step-By-Step Instructions</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-educational-tech tag-resources tag-web-developer featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-educational-tech" href="https://www.creative-tim.com/blog/educational-tech/" title="Educational Tech">Educational Tech</a>
								<a class="post-image-link" href="/blog/educational-tech/frontend-developer-roadmap/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2021/11/frontend-developer.jpg" alt="The Front-end Developer Roadmap - How to Become One" src="https://www.creative-tim.com/blog/content/images/size/w750/2021/11/frontend-developer.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/educational-tech/frontend-developer-roadmap/">The Front-end Developer Roadmap - How to Become One</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-announcement tag-creative-tim tag-rebranding tag-create-brand-for-business featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-announcement" href="https://www.creative-tim.com/blog/announcement/" title="announcement">announcement</a>
								<a class="post-image-link" href="/blog/announcement/welcome-to-creative-tim-new-logo/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/2021/08/rebranding-post--1-.jpg" alt="Welcome to Creative Tim New Visual Identity" src="https://www.creative-tim.com/blog/content/images/size/w750/2021/08/rebranding-post--1-.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/announcement/welcome-to-creative-tim-new-logo/">Welcome to Creative Tim New Visual Identity</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-education tag-entrepreneurship tag-portfolio-website tag-user-experience tag-web-developer-portfolio-website tag-web-development tag-web-development-portfolio-website tag-website-development featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-education" href="https://www.creative-tim.com/blog/education/" title="Education">Education</a>
								<a class="post-image-link" href="/blog/education/web-developer-portfolio-website/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/wordpress/2021/06/web_developer_portfolio_website.jpg" alt="How to Build Your First Web Developer Portfolio Website" src="https://www.creative-tim.com/blog/content/images/size/w750/wordpress/2021/06/web_developer_portfolio_website.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/education/web-developer-portfolio-website/">How to Build Your First Web Developer Portfolio Website</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-web-design tag-3d tag-3d-illustrations tag-animations tag-colors tag-dark-mode tag-glassmorphism tag-gradients tag-illustrations tag-minimalism tag-mobile-first-design tag-neumorphism tag-textures tag-typography tag-web-development featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-web-design" href="https://www.creative-tim.com/blog/web-design/" title="web design">web design</a>
								<a class="post-image-link" href="/blog/web-design/web-design-trends/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/wordpress/2019/01/cover-2.png" alt="18 Web Design Trends for 2021" src="https://www.creative-tim.com/blog/content/images/size/w750/wordpress/2019/01/cover-2.png"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/web-design/web-design-trends/">18 Web Design Trends for 2021</a>
</h2> </header>
					</article>
				</div>
				<div class="owl-item" style="width: 278.219px; margin-right: 20px;">
					<article class="post tag-web-design featured">
						<div class="post-media">
							<div class="u-placeholder square"> <a class="post-media-tag post-tag-web-design" href="https://www.creative-tim.com/blog/web-design/" title="web design">web design</a>
								<a class="post-image-link" href="/blog/web-design/free-dashboard-templates/"> <img class="post-image u-object-fit lazyloaded" data-cfsrc="/blog/content/images/size/w750/wordpress/2020/03/blog-1.jpg" alt="30+ Open-Source and Free Dashboard Templates" src="https://www.creative-tim.com/blog/content/images/size/w750/wordpress/2020/03/blog-1.jpg"> </a>
							</div>
						</div>
						<header class="post-header">
							<h2 class="post-title">
<a class="post-title-link" href="/blog/web-design/free-dashboard-templates/">30+ Open-Source and Free Dashboard Templates</a>
</h2> </header>
					</article>
				</div>
			</div>
		</div>
		<div class="owl-nav">
			<button type="button" role="presentation" class="owl-prev disabled" style="top: 139.109px; opacity: 1;"><i class="icon icon-chevron-left"></i></button>
			<button type="button" role="presentation" class="owl-next" style="top: 139.109px; opacity: 1;"><i class="icon icon-chevron-right"></i></button>
		</div>
		<div class="owl-dots disabled"></div>
	</div>
</div>