
<footer class="footer section pt-6 pt-md-8 pt-lg-10  bg-primary text-white overflow-hidden">
    <div class="pattern pattern-soft top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="/static/assets/img/favicon/logo_transparent.png" height="110" class="" alt="Footer logo">
                
                <p class="my-3 justify-paragraph_footer">Valuable, clear, considerable, and remarkable insights from video comments, social post comments, product page reviews, and more – helping you gain insights into customer preferences, pain points, and areas for improvement, and use this information to develop more effective marketing strategies, improve product or service offerings, and increase customer loyalty.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/CommentsAnaly" aria-label="twitter social link" target="_blank" class="icon-white mr-1">
                            <!-- <span class="fab fa-twitter"></span> -->
                            <img src="/static/assets/img/icons/x.svg" height="14" class="" alt="x logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/comments-analytics" target="_blank" class="icon-white mr-1" aria-label="linkedin social link">
                            <!-- <span class="fab fa-linkedin"></span> -->
                            <img src="/static/assets/img/icons/linkedin.svg" height="14" class="" alt="linkedin logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCLZnN-5K3-WTK5z9qpZ2-ng" aria-label="youtube social link" target="_blank" class="icon-white mr-1">
                            <!-- <span class="fab fa-youtube"></span> -->
                            <img src="/static/assets/img/icons/youtube.svg" height="14" class="" alt="youtube logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.g2.com/products/comments-analytics/" class="icon-white mr-1" target="_blank" aria-label="reddit social link">
                            <img src="/static/assets/img/icons/g2.svg" height="14" class="" alt="g2 logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100093360648853" class="icon-white mr-1" target="_blank" aria-label="facebook social link">
                            <!-- <span class="fab fa-facebook"></span> -->
                            <img src="/static/assets/img/icons/facebook.svg" height="14" class="" alt="facebook logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.producthunt.com/posts/comments-analytics" class="icon-white mr-1" target="_blank" aria-label="reddit social link">
                            <img src="/static/assets/img/icons/product_hunt.svg" height="18" class="" alt="product hunt logo">
                        </a>
                    </li>
                     <!--
                    <li>
                        <a href="" class="icon-white" aria-label="instagram social link">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0 ms-6">
                <h6><a href="{% url 'overview' %}">Overview</a></h6>
                <ul class="links-vertical mt-4">
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'tutorials' %}">Tutorials</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'terms' %}">Terms</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'chrome_extension' %}">Chrome Extension</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
                <h6><a href="{% url 'contact' %}">Contact Info</a></h6>

                <ul class="links-vertical mt-4">
                    <li class="mt-3"> Address:</li>
                    <li mb-3> Lentersweg 36, Hamburg, Germany</li>
                    <li class="mt-7">Email:</li>
                    <li mb-3> <a href="mailto:info@commentsanalytics.com">info[@]commentsanalytics.com</a></li>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
                <h6>Popular Services</h6>
                <ul class="links-vertical mt-4">
                    <li><a href="{% url 'sentiment_analysis' %}">Sentiment Analysis</a></li>
                    <li><a href="{% url 'key_phrases_extraction' %}">Keyword Extraction</a></li>
                    <li><a href="{% url 'named_entity_recognition' %}">Named-Entity Recognition</a></li>
                    <li><a href="{% url 'predict_customers_needs' %}">Predict Customers</a></li>
                    <li><a href="{% url 'category_extraction' %}">Category Extraction</a></li>

                </ul>
                <div class="mt-6">
                    <a title="Users love Comments Analytics on G2" href="https://www.g2.com/products/comments-analytics/reviews?utm_source=rewards-badge"><img style="width: 125px;" alt="Users love Comments Analytics on G2" src="https://www.g2.com/shared-assets/product-badges/users-love-us.svg" /></a><script>(function(a,b,c,d){window.fetch("https://www.g2.com/products/comments-analytics/rating_schema.json").then(e=>e.json()).then(f=>{c=a.createElement(b);c.type="application/ld+json";c.text=JSON.stringify(f);d=a.getElementsByTagName(b)[0];d.parentNode.insertBefore(c,d);});})(document,"script");</script>
                </div>
                
            </div>

        </div>
        <hr class="my-4 my-lg-5">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0">Copyright ©<span class="current-year"></span> All rights reserved | Comments Analytics Services from
                        Boobranda GmBH.</p>
                </div>
            </div>
        </div>
    </div>
</footer>