<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-light navbar-theme-primary">
        <div class="container">
            <a class="" href="/">
                <img class="navbar-brand-light common me-6"  src="/static/assets/img/favicon/favicon_120x120.png" height="120" width="120" alt="Logo comments analysis">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                       
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                    <li class="nav-item">
                        <a href="{% url 'overview' %}" class="nav-link">Overview</a>
                    </li>

                    <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" id="dashboardPagesDropdown" aria-expanded="false" data-toggle="dropdown"><span class="nav-link-inner-text mr-1">Services</span> <i class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-megamenu dropdown-megamenu-sm pl-3 py-3 p-lg-2" aria-labelledby="dashboardPagesDropdown">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item">
                                            <a href="{% url 'sentiment_analysis' %}"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm icon-secondary"><i class="fa fa-smile-o"></i></span>
                                                <div class="ml-4">
                                                    <span class="text-dark d-table-row">Sentiment Analysis </span>
                                                    <span class="small">Identify, extract, quantify, and study affective states information of comments</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a href="{% url 'named_entity_recognition' %}"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm icon-primary"><i
                                                        class="fa fa-sitemap "></i></span>
                                                <div class="ml-4">
                                                    <span class="text-dark d-table-row">Named Entity Recognition</span>
                                                    <span class="small">Locate and classify named entities mentioned in unstructured text</span>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item">
                                            <a href="{% url 'key_phrases_extraction' %}"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm icon-success"><i
                                                        class="fa fa-key "></i></span>
                                                <div class="ml-4">
                                                    <span class="text-dark d-table-row">Key Phrases Extraction</span>
                                                    <span class="small">Extract the most important words and expressions</span>
                                                </div>
                                            </a>
                                        </li>
                                        
                                        <li class="mb-2 megamenu-item">
                                            <a href="{% url 'predict_customers_needs' %}"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm icon-warning"><i
                                                        class="fa fa-random  "></i></span>
                                                <div class="ml-4">
                                                    <span class="text-dark d-table-row">Predict Customers' Needs</span>
                                                    <span class="small">Predict future needs of customers or subscribers</span>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item">
                                            <a href="{% url 'key_phrases_extraction' %}"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                                <span class="icon icon-sm icon-info "><i
                                                        class="fa fa-tags "></i></span>
                                                <div class="ml-4">
                                                    <span class="text-dark d-table-row">Category Extraction</span>
                                                    <span class="small">Extract the most relevent category of your text</span>
                                                </div>
                                            </a>
                                        </li>
                                        
                                        
                                    </ul>
                                </div>
                               
                                
                            </div>
                        </div>
                    </li>        

                    <li class="nav-item">
                        <a href="{% url 'pricing' %}" class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'blog' %}" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'chrome_extension' %}" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            </svg>
                            Chrome Extension
                        </a>
                    </li>
                    
                   
                </ul>
            </div>

            {% if request.user.username == '' %} 
                <div class="d-none d-lg-block @@cta_button_classes">
                    <a href="{% url 'login' %}"  class="btn btn-md btn-docs btn-outline-white animate-up-2 mr-3"><i class="fas "></i> Login</a>
                    <a href="{% url 'register' %}"   class="btn btn-md btn-secondary animate-up-2"><i class="fas fa-paper-plane mr-2"></i> Sign Up</a>
                </div>
            {% else %}
                <!-- for login user -->
                {% include 'includes/navigation_client.html' %}
            {% endif %}

            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>