 <!-- Homepage Head -->
 <head> 

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "iuw8hr4ek6");
    </script>

    <!-- Crisp Messaging -->    
    <script type = "text/javascript" > window.$crisp = [];
    window.CRISP_WEBSITE_ID = "65a99d56-395c-49a9-ba95-1e0d20ded3ab";
    (function() {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
    })(); 
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>
        Extracting Comments Insights    
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Comments Analytics | Analysis of comments to obtain insights">
    <meta name="author" content="Am">
    <meta name="description" content="Extracting the comments of pages to analyse and present the insights in them.">
    <meta name="keywords" content="Django, Web Scrapping, Comments Extracting, Micro Services, Docker, Nginx, Bootstrap" />
    <link rel="canonical" href="">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Comments Analytics | Analysis of comments to obtain insights" />
    <meta property="og:type" content="Social Network">
    <meta property="og:url" content="https://commentsanalytics.com/">
    <meta property="og:image" content="https://commentsanalytics.com/static/assets/img/favicon/favicon_512X512.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://commentsanalytics.com/">
    <meta property="twitter:site" content="https://commentsanalytics.com/">
    <meta property="twitter:title" content="Comments Analytics | Analysis of comments to obtain insights">
    <meta property="twitter:image" content="https://commentsanalytics.com/static/assets/img/favicon/favicon_512X512.png">
    <meta property="twitter:description" content="Extracting the comments of pages to analyse and present the insights in them.">

    <!-- Telegram -->
    <meta property="telegram:card" content="summary">
    <meta property="telegram:url" content="https://commentsanalytics.com/">
    <meta property="telegram:site" content="https://commentsanalytics.com/">
    <meta property="telegram:title" content="Comments Analytics | Analysis of comments to obtain insights">
    <meta property="telegram:image" content="https://commentsanalytics.com/static/assets/img/favicon/favicon_512X512.png">
    <meta property="telegram:description" content="Extracting the comments of pages to analyse and present the insights in them.">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/favicon_120x120.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon_32X32.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/assets/img/favicon/favicon_512X512.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/static/assets/img/favicon/favicon_120X120.png">

    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Sweet Alert -->
    <link type="text/css" href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" /> -->
    <!-- <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="/static/assets/css/soft-ui-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- <link href="/static/assets/css/creative_time_screen-copy.css" rel="stylesheet" /> -->

    <!-- Fontawesome -->
    <link type="text/css" href="/static/assets/css/all.min.css" rel="stylesheet">

    <!-- Nucleo icons -->
    <link rel="stylesheet" href="/static/assets/css/nucleo.css" type="text/css">

    <!-- Prism -->
    <link type="text/css" href="/static/assets/css/prism.css" rel="stylesheet">

    <!-- Front CSS -->
    <link type="text/css" href="/static/assets/css/front.css" rel="stylesheet">
    
        
    <!-- Core -->
    <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/static/assets/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/assets/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <link type="text/css" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" rel="stylesheet">

    

</head>