<!-- Most Frequent Questions Accordion-->

<div class=" row justify-content-center mb-4 mb-lg-6">
        <div class="row justify-content-center mb-4 mb-lg-6">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="display-3 mb-4">Frequently asked questions</h1>
                <p class="lead text-gray">Here’s what you need to know about Our Comments Analytics Pricing, based on the questions we get asked the most.</p>
            </div>
        </div>
<div class="col-12 col-lg-8">  
  <div class="accordion row justify-content-center" id="accordionPricing">
      
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What is profile browse?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPricing">
          <div class="accordion-body">
            The social networks will extract the well-known social network accounts of popular people and companies. The most popular social network platforms are Facebook, Twitter, Linkedin, Instagram, Pinterest, and youtube. People and companies are willing to publish their activities and news there. By finding their official accounts in them and monitoring their activities via the profile browse services, you can save your time and increase your productivity in the business. In profile browse, we also extract the social accounts of other categories including singers and beat producers in Spotify, Code developers repositories in Github, professors' profiles including their last papers in google scholar, game streamers in platforms such as Twitch and Youtube, and other profile browse awesome services. You can upload a large file of your interest name and export their official social accounts.
          </div>
        </div>
      </div> -->

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-1' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-1" role="button" aria-expanded="false" aria-controls="panel-1">
            <span class="h6 mb-0">Does my subscription automatically renew?</span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-1" aria-labelledby="heading-1" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-2' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-2" role="button" aria-expanded="false" aria-controls="panel-2">
            <span class="h6 mb-0">Does my subscription automatically renew?</span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-2" aria-labelledby="heading-2" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-3' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-3" role="button" aria-expanded="false" aria-controls="panel-3">
            <span class="h6 mb-0">Does my subscription automatically renew?</span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-3" aria-labelledby="heading-3" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                </p>
            </div>
        </div>
      </div>

      
    </div>

  </div>
  