<!-- Most Frequent Questions Pricing Accordion-->

<div class=" row justify-content-center mb-4 mb-lg-6">
        <div class="row justify-content-center mb-4 mb-lg-6">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="display-3 mb-4">Frequently asked questions</h1>
                <p class="lead text-gray">Here’s what you need to know about Our Comments Analytics Pricing, based on the questions we get asked the most.</p>
            </div>
        </div>
<div class="col-12 col-lg-8">  
  <div class="accordion row justify-content-center" id="accordionPricing">
      
      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-1' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-1" role="button" aria-expanded="false" aria-controls="panel-1">
            <span class="h6 mb-0">What is CommentsAnalytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-1" aria-labelledby="heading-1" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    CommentsAnalytics is a web-based text analysis tool that helps businesses and individuals gain insight of online comments across various platforms. Services such as Sentiment Analysis, Keyword Extraction, Named-Entity Recognition (NER), Category-Sentiment Extraction and ... are now available as our services.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-2' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-2" role="button" aria-expanded="false" aria-controls="panel-2">
            <span class="h6 mb-0">How does CommentsAnalytics work?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-2" aria-labelledby="heading-2" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    CommentsAnalytics uses natural language processing (NLP) and machine learning (ML) techniques to analyze the text data. Users can upload text data to analyze comments and receive the valuable analytics reports.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-3' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-3" role="button" aria-expanded="false" aria-controls="panel-3">
            <span class="h6 mb-0">Which social media platforms does CommentsAnalytics support?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-3" aria-labelledby="heading-3" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    CommentsAnalytics currently supports all platforms comments by uploading the data as csv, xlsx and json file. you can also use our <a href="/chrome_extension/" style="color: blue">Chrome Extension</a> to download comments of platforms such as Youtube to upload in your dashboad.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-4' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-4" role="button" aria-expanded="false" aria-controls="panel-4">
            <span class="h6 mb-0">How much does comment analytics costs?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-4" aria-labelledby="heading-4" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    There is a Query limitation on how much data you can upload or how often you can upload it according to your plan. A Query is used each time a text is analyzed by our model. E.g: Get Sentiment Analysis of a comment.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-5' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-5" role="button" aria-expanded="false" aria-controls="panel-5">
            <span class="h6 mb-0">Is my data secure? Can I upload my private and sensitive data to Comments Analytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-5" aria-labelledby="heading-5" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    Yes! Comments Analytics only keeps data transfer and/or API calls over HTTPS and all data is securely kept using best practices with no access given to any 3rd parties. See our <a href="/privacy/" style="color: blue">Privacy Policy</a> page.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-6' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-6" role="button" aria-expanded="false" aria-controls="panel-6">
            <span class="h6 mb-0">What kind of insights can I get from CommentsAnalytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-6" aria-labelledby="heading-6" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    By using CommentsAnalytics, individuals and brands can obtain valuable insights into the sentiment expressed in online comments about their business, monitor changes in sentiment over time, identify significant categories, and analyze sentiment across different demographic groups. Our insightful report is based on the extraction of keywords from comments and sentiment analysis, which helps individuals and brands to better understand the needs of their customers. Additionally, our Named-Entity Recognition (NER) service is highly sought-after and provides rich insights into comments related to services.                                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-7' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-7" role="button" aria-expanded="false" aria-controls="panel-7">
            <span class="h6 mb-0">Can I export my sentiment analysis results from CommentsAnalytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-7" aria-labelledby="heading-6" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    Yes, CommentsAnalytics allows users to export their sentiment analysis results as csv and xlsx Excel files, which can be easily imported into other tools and platforms.    
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-8' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-8" role="button" aria-expanded="false" aria-controls="panel-8">
            <span class="h6 mb-0">How accurate is the analysis provided by CommentsAnalytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-8" aria-labelledby="heading-6" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    The accuracy of text analysis depends on various factors, including the quality and diversity of the data, the language and cultural context, and the complexity of the expressions. CommentsAnalytics uses cutting-edge  natural language processing and machine learning techniques to provide highly accurate analysis results.                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-9' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-9" role="button" aria-expanded="false" aria-controls="panel-9">
            <span class="h6 mb-0">How do I get started with CommentsAnalytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-9" aria-labelledby="heading-6" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    To get started with CommentsAnalytics, simply sign up for a free account on the website with 10 query limit, upload your text data, and start analyzing Single or Bulk Request!            </div>
        </div>
      </div>

      
    </div>

  </div>
  