<div class="container">
  <div class="row justify-content-center mb-4 mb-lg-6">
      <div class="col-12 col-lg-8 text-center">
          <h1 class="display-3 mb-4">Frequently asked questions</h1>
          <p class="lead text-gray">Here’s what you need to know about Our Comments Analytics Pricing, based on the questions we get asked the most.</p>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <!--Accordion-->
          <div class="accordion">
              <div class="card card-sm card-body border border-light rounded mb-3">
                  <div data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                      <span class="h6 mb-0">Does my subscription automatically renew?</span>
                      <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </div>
                  <div class="collapse" id="panel-1">
                      <div class="pt-3">
                          <p class="mb-0">
                              At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card card-sm card-body border border-light rounded mb-3">
                  <div data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                      <span class="h6 mb-0">What happens if I don’t renew my license?</span>
                      <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </div>
                  <div class="collapse" id="panel-2">
                      <div class="pt-3">
                          <p class="mb-0">
                              At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                      </div>
                  </div>
              </div>
              <div class="card card-sm card-body border border-light rounded mb-3">
                  <div data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                      <span class="h6 mb-0">Can I cancel my subscription?</span>
                      <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </div>
                  <div class="collapse" id="panel-3">
                      <div class="pt-3">
                          <p class="mb-0">
                              At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                      </div>
                  </div>
              </div>
              <div class="card card-sm card-body border border-light rounded mb-3">
                  <div data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
                      <span class="h6 mb-0">Do I need to renew my license to receive fixes?</span>
                      <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </div>
                  <div class="collapse" id="panel-4">
                      <div class="pt-3">
                          <p class="mb-0">
                              At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.                                        </p>
                      </div>
                  </div>
              </div>
              <div class="card card-sm card-body border border-light rounded mb-3">
                  <div data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
                      <span class="h6 mb-0">Where can I find the End User License Agreement (EULA)?</span>
                      <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </div>
                  <div class="collapse" id="panel-5">
                      <div class="pt-3">
                          <p class="mb-0">
                              At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                          </p>
                      </div>
                  </div>
              </div>
              
          </div>
          <!--End of Accordion-->
      </div>
  </div>
</div>