<!-- Most Frequent Questions Pricing Accordion-->

<div class=" row justify-content-center mb-4 mb-lg-6">
        <div class="row justify-content-center mb-4 mb-lg-6">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="display-3 mb-4">Frequently asked questions</h1>
                <p class="lead text-gray">Here’s what you need to know about Our Comments Analytics Pricing, based on the questions we get asked the most.</p>
            </div>
        </div>
<div class="col-12 col-lg-8">  
  <div class="accordion row justify-content-center" id="accordionPricing">
      
      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-1' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-1" role="button" aria-expanded="false" aria-controls="panel-1">
            <span class="h6 mb-0">What are the payment terms?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-1" aria-labelledby="heading-1" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    Currently, all plans are lifetime credits with no expiration limit. This feature helps our customers to use our services with no concern about expiration time. You can purchase your desired plan according to your need and use it every time you want. <a href="/contact/" style="color: blue">Contact us</a> for any specific payment questions.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-2' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-2" role="button" aria-expanded="false" aria-controls="panel-2">
            <span class="h6 mb-0">How much does comment analytics costs?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-2" aria-labelledby="heading-2" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    There is a Query limitation on how much data you can upload or how often you can upload it according to your plan. A Query is used each time a text is analyzed by our model. E.g: Get Sentiment Analysis of a comment.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-3' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-3" role="button" aria-expanded="false" aria-controls="panel-3">
            <span class="h6 mb-0">Is there any overage charge for comments extraction from websites?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-3" aria-labelledby="heading-3" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    No! Comments Analytics' plans all include comments extraction. As long as you're bringing your own data, there will never be any overage charges or additional fees. You can use our <a href="/chrome_extension/" style="color: blue">Chrome Extension</a> to extract your .JSON data and import it in our dashboard.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-4' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-4" role="button" aria-expanded="false" aria-controls="panel-4">
            <span class="h6 mb-0">Is there any additional fee for setup and support models?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-4" aria-labelledby="heading-4" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    No! Comments Analytics' plans all include setup and implementation with our pre-trained text analytics models. and support of these services with your input text data has not any cost. Contact us with further requests.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-5' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-5" role="button" aria-expanded="false" aria-controls="panel-5">
            <span class="h6 mb-0">Do our services cover specific language comments?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-5" aria-labelledby="heading-5" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    While our models are trained on as many diverse sources as possible, it's possible that we might need to fine-tune a model to your use case. So, please <a href="/contact/" style="color: blue">contact us</a> for custom plans.
                </p>
            </div>
        </div>
      </div>

      <div class="card card-sm card-body border border-light rounded mb-3">
        <div id='heading-6' class="accordion-panel-header" data-bs-toggle="collapse" data-bs-target="#panel-6" role="button" aria-expanded="false" aria-controls="panel-6">
            <span class="h6 mb-0">Is my data secure? Can I upload my private and sensitive data to Comments Analytics?
            </span>
            <span class="icon"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="collapse accordion-collapse" id="panel-6" aria-labelledby="heading-6" data-bs-parent="#accordionPricing">
            <div class="pt-3">
                <p class="mb-0">
                    Yes! Comments Analytics only keeps data transfer and/or API calls over HTTPS and all data is securely kept using best practices with no access given to any 3rd parties. See our <a href="/privacy/" style="color: blue">Privacy Policy</a> page.
                </p>
            </div>
        </div>
      </div>

      
    </div>

  </div>
  