<!-- Plans Preview Content -->
<form  method="post">

    <div class="">
        <div class="row align-items-center justify-content-between">
            <div class="row mt-4">
            
                {% for row in plan_list %}
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="title-box">
                            <h2>Small</h2>
                                Small teams - Updates 6mo / Support 3mo
                        </div>
                        <div class="content-box">
                                                <div class="price">
                                    <sub>$</sub> 99                    </div>
                                <div class="title">
                                    One-time Payment
                                </div>
                                            <ul class="price-list">
                                <li class="check"><span class="check fa fa-check"></span>Team: 3 developers</li>
                                <li class="check"><span class="check fa fa-check"></span>
                                    Email / <a target="_blank" rel="nofollow noopener noreferrer" href="https://discord.gg/fZC6hup">Discord Support</a> 3mo
                                </li>
                                <li class="check"><span class="check fa fa-check"></span>
                                    Free Updates: 6mo
                                </li>
                                <li>
                                <span class="check fa fa-info-circle"></span>
                                    License Terms: <a target="_blank" href="https://github.com/app-generator/license-small">Small</a>
                                </li>
                                <li class="check"><span class="check fa fa-check"></span>Single App/Website</li>
                                                        <li class="check"><span class="remove fa fa-remove"></span>
                                        Admin Section Theme
                                    </li>    
                                                     
                                <li class="cross"><span class="remove fa fa-remove"></span>Multiple Domains</li>
                                <li class="cross"><span class="remove fa fa-remove"></span>SaaS Products</li>
                                                    </ul>
                            <div class="btn-box">
                                <a target="_blank" rel="noopener noreferrer" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=YFU52B8LFRGEQ" class="theme-btn btn-style-two">
                                    Buy - $99</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </form>
        
            
        </div>
        
      </div>
  </div>  
