 <!-- Plan Text Label -->

{% if plan.order == 0 %}
 <span class="badge bg-plan-1 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 0 %}
 <span class="badge bg-plan-1 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 0 %}
 <h3 class="badge bg-plan-1 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 1 %}
    <span class="badge bg-plan-1 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 1 %}
    <span class="badge bg-plan-1 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 1 %}
    <h3 class="badge bg-plan-1 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 2 %}
    <span class="badge bg-plan-2 font-small px-2 py-1 text-gray-800 ms-2 fw-bold ">{{ plan.name }}</span>
{% elif row.plan.order == 2 %}
    <span class="badge bg-plan-2 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 2 %}
    <h3 class="badge bg-plan-2 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 3 %}
    <span class="badge bg-plan-3 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 3 %}
    <span class="badge bg-plan-3 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 3 %}
    <h3 class="badge bg-plan-3 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 4 %}
    <span class="badge bg-plan-4 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 4 %}
    <span class="badge bg-plan-4 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 4 %}
    <h3 class="badge bg-plan-4 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 5 %}
    <span class="badge bg-plan-5 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 5 %}
    <span class="badge bg-plan-5 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 5 %}
    <h3 class="badge bg-plan-5 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 6 %}
    <span class="badge bg-plan-6 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 6 %}
    <span class="badge bg-plan-6 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 6 %}
    <h3 class="badge bg-plan-6 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 7 %}
    <span class="badge bg-plan-7 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 7 %}
    <span class="badge bg-plan-7 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 7 %}
    <h3 class="badge bg-plan-7 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 8 %}
    <span class="badge bg-plan-8 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 8 %}
    <span class="badge bg-plan-8 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 8 %}
    <h3 class="badge bg-plan-8 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 9 %}
    <span class="badge bg-plan-9 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 9 %}
    <span class="badge bg-plan-9 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 9 %}
    <h3 class="badge bg-plan-9 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% elif plan.order == 10 %}
    <span class="badge bg-plan-10 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan.name }}</span>
{% elif row.plan.order == 10 %}
    <span class="badge bg-plan-10 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan.name }}</span>
{% elif row.order == 10 %}
    <h3 class="badge bg-plan-10 font-large px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>
    
{% else %}
    <span class="badge bg-gray-200 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.plan}}</span>
    <span class="badge bg-gray-200 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ plan}}</span>
    <h3 class="badge bg-gray-200 font-small px-2 py-1 text-gray-800 ms-2 fw-bold">{{ row.name }}</h3>

{% endif %}
