<!-- Plans Preview Content -->
<form  method="post">

    {% csrf_token %}


    <div class="row text-gray">
        
        {% for row in plan_list %}

            <div class="col-12 col-lg-4">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6 px-2">
                    <div class="card-header border-light py-5 px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            {% if row.price == 0 %}
                                <span class="price display-2 mb-0" data-annual="0" data-monthly="0"> {{ row.price_discounted }}</span>
                            {% elif row.tag == 'Selected' %}
                                <span class="price display-2 mb-0 text-secondary" data-annual="0" data-monthly="0"> {{ row.price_discounted }}</span>
                            {% else %}
                                <span class="price display-2 mb-0 text-primary" data-annual="0" data-monthly="0"> {{ row.price_discounted }}</span>
                            {% endif %}
                                <!-- <span class="h6 font-weight-normal align-self-end">/month</span> -->
                        </div>

                        {% if row.discount != 0 %}
                            <div class="ml-2 mb-4">
                                <del>${{ row.price }}</del> 
                                <span class="text-danger  small ">Save up to {{row.discount}}%</span>
                            </div>
                        {% endif %}
                                    
                        <h4 class="mb-3 text-black">
                            {% include "includes/plan_text_show.html" %}
                        </h4>
                        {% if row.tag == 'Selected' %}
                            <p class="font-weight-normal mb-0"> The ideal plan for People and businesses that are serious about customers.</p>
                        {% else %}
                            <p class="font-weight-normal mb-0"> {{ row.tag }}</p>
                            {% endif %}
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            {% for row_has in row.has_list %}
                                <li class="list-group-item font-weight-normal"><span class="icon-success"><i class="fas fa-check"></i></span>
                                    {{ row_has }}
                                </li>
                            {% endfor %}
                            {% for row_hasnot in row.hasnot_list %}
                                <li class="list-group-item font-weight-normal"><span class="icon-danger"><i class="fas fa-times"></i></span>
                                    {{ row_hasnot }}
                                </li>
                            {% endfor %}
                        </ul> 
                    </div>
                    {% if row.price > 0 %}
                        <div class=" btn w-100 mb-3">
                            <div class="row">
                                <label  class="">Discount Code:</label>
                                <input class="form-control" name="discount_code_input_{{row.name}}" >
                            </div>
                        </div>

                        <button type="submit" formaction="/transaction_submit/plan{{ row.plan_id }}" class="btn w-100 btn-secondary animate-up-2 paddle-button mt-3 mb-4">
                            Pay Now
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
    </div>

    
    
</form>  
