 <!-- Plan Text Label -->

{% if plan.order == 0 %}
 <span class="badge bg-plan-1  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 0 %}
 <span class="badge bg-plan-1  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 0 %}
 <span class="badge bg-plan-1  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 1 %}
    <span class="badge bg-plan-1 text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 1 %}
    <span class="badge bg-plan-1 text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 1 %}
    <span class="badge bg-plan-1 text-gray-800">{{ row.name }}</span>

{% elif plan.order == 2 %}
    <span class="badge bg-plan-2  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 2 %}
    <span class="badge bg-plan-2  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 2 %}
    <span class="badge bg-plan-2  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 3 %}
    <span class="badge bg-plan-3  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 3 %}
    <span class="badge bg-plan-3  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 3 %}
    <span class="badge bg-plan-3  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 4 %}
    <span class="badge bg-plan-4  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 4 %}
    <span class="badge bg-plan-4  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 4 %}
    <span class="badge bg-plan-4  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 5 %}
    <span class="badge bg-plan-5  text-white"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 5 %}
    <span class="badge bg-plan-5  text-white">{{ row.plan.name }}</span>
{% elif row.order == 5 %}
    <span class="badge bg-plan-5  text-white">{{ row.name }}</span>

{% elif plan.order == 6 %}
    <span class="badge bg-plan-6  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 6 %}
    <span class="badge bg-plan-6  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 6 %}
    <span class="badge bg-plan-6  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 7 %}
    <span class="badge bg-plan-7  text-white"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 7 %}
    <span class="badge bg-plan-7  text-white">{{ row.plan.name }}</span>
{% elif row.order == 7 %}
    <span class="badge bg-plan-7  text-white">{{ row.name }}</span>

{% elif plan.order == 8 %}
    <span class="badge bg-plan-8  text-white"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 8 %}
    <span class="badge bg-plan-8  text-white">{{ row.plan.name }}</span>
{% elif row.order == 8 %}
    <span class="badge bg-plan-8  text-white">{{ row.name }}</span>

{% elif plan.order == 9 %}
    <span class="badge bg-plan-9  text-gray-800"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 9 %}
    <span class="badge bg-plan-9  text-gray-800">{{ row.plan.name }}</span>
{% elif row.order == 9 %}
    <span class="badge bg-plan-9  text-gray-800">{{ row.name }}</span>

{% elif plan.order == 10 %}
    <span class="badge bg-plan-10  text-white"><h5>{{ plan.name }}</h5></span>
{% elif row.plan.order == 10 %}
    <span class="badge bg-plan-10  text-white">{{ row.plan.name }}</span>
{% elif row.order == 10 %}
    <span class="badge bg-plan-10  text-white">{{ row.name }}</span>
    
{% else %}
    <span class="badge bg-plan-11  text-gray-800"><h5>{{ plan.name }}</h5></span>
    <span class="badge bg-plan-11  text-gray-800">{{ plan}}</span>
    <span class="badge bg-plan-11  text-gray-800">{{ row.name }}</span>

{% endif %}
