

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}
<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

        <section class="section-header pb-8 pb-lg-7 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Classify your customers' comments and feedbacks subjects into specific categories</h1>
                        <p class="lead">Categorizing comments and feedback into distinct subjects (Ex. Suggestion, Feedback, Pricing, ...), providing a structured approach to analyze and gain insights from user-generated content.</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>

        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                

                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4 mt-2">What Is Category Extraction?</h1>
                    
                    </div>

                    <p class="lead mt-6 ">In comments analytics, comments category extraction is a method used to sort user comments into various categories according to their topics. To achieve this, a machine learning model is trained on extensive amounts of comments and then fine-tuned for the specific platform being analyzed. By categorizing comments, companies can gain a better understanding of customer feedback, recognize patterns and trends, and use this information to make informed decisions.</p>
                    <p class="lead  mb-4">You can see our Youtube comments categories with description and example as follows: </p>

                    <p style="text-align:center;">
                    
                        <img class="mt-4 mb-6  article-img-meidum" src="/static/assets/img/services_category_extraction/categories.png" alt="categories_extraction"></img>
                    </p>

                    <p class="lead  mb-4">You can see a sample of our category extraction result with corresponding sentiment percent value in comments analytics dashboard for a Bulk request as follow: </p>

                    <p style="text-align:center;">
                    
                        <img class="mt-4 mb-6  article-img-meidum" src="/static/assets/img/services_category_extraction/category_chart1.png" alt="categories_extraction"></img>
                        <img class="mt-4 mb-6  article-img-meidum" src="/static/assets/img/services_category_extraction/category_chart2.png" alt="categories_extraction"></img>

                    </p>
                </div>
               
            </div>
        </section>


        <section class="section section-lg pt-6">
            <div class="container">
              <div class="row justify-content-center">

                <h2 class="col-12 text-center mb-5 mb-4">Why Use Category Extraction in Our Business?</h2>

                <div class="col-12 col-lg-4 mt-4">
                  <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                    <div class="card-header text-center pb-0">
                      <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                        <i class="fa fa-filter"></i>
                      </div>
                      <h4 class="text-black">Filter the customers' comments</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                          <div class="icon icon-sm icon-success mr-4">
                            <i class="far fa-check-circle"></i>
                          </div>
                          <div>
                            Efficiently manage a large volume of comments by categorizing them into specific topics, enabling rapid processing and streamlined responses to user feedback.</div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-4 mt-4">
                  <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                    <div class="card-header text-center pb-0">
                      <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                        <i class="fa fa-male"></i>
                      </div>
                      <h4 class="text-black">Enhanced Customer Understanding</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                          <div class="icon icon-sm icon-success mr-4">
                            <i class="far fa-check-circle"></i>
                          </div>
                          <div>Comments categorization provides a deeper understanding of customer sentiments and preferences, helping businesses tailor their products and services to customer needs.</div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-4 mt-4">
                  <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                    <div class="card-header text-center pb-0">
                      <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                        <i class="fa fa-line-chart"></i>
                      </div>
                      <h4 class="text-black">Improved Customer Engagement</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                          <div class="icon icon-sm icon-success mr-4">
                            <i class="far fa-check-circle"></i>
                          </div>
                          <div>By categorizing comments, businesses can create more targeted and relevant responses, enhancing customer satisfaction and engagement.</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-4 mt-4">
                  <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                    <div class="card-header text-center pb-0">
                      <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                        <i class="fa fa-cogs"></i>
                      </div>
                      <h4 class="text-black">Efficient Issue Resolution</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                          <div class="icon icon-sm icon-success mr-4">
                            <i class="far fa-check-circle"></i>
                          </div>
                          <div>Quick identification and categorization of comments related to issues or concerns allow businesses to resolve problems rapidly, ensuring customer loyalty.</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-4 mt-4">
                    <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                      <div class="card-header text-center pb-0">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                          <i class="fa fa-binoculars"></i>
                        </div>
                        <h4 class="text-black">Data-Driven Decision Making</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-group">
                          <li class="list-group-item d-flex px-0 pt-0 pb-2">
                            <div class="icon icon-sm icon-success mr-4">
                              <i class="far fa-check-circle"></i>
                            </div>
                            <div>Categorizing comments generates actionable data, enabling informed decision-making that contributes to overall business growth and success.</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                <div class="col-12 col-lg-4 mt-4">
                <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                    <div class="card-header text-center pb-0">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <h4 class="text-black">Competitive Edge</h4>
                    </div>
                    <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex px-0 pt-0 pb-2">
                            <div class="icon icon-sm icon-success mr-4">
                                <i class="far fa-check-circle"></i>
                            </div>
                                <div>
                                    By categorizing and analyzing comments, businesses can stay ahead of the competition by adapting to changing market dynamics and customer expectations.
                                </div>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
              </div>
            </div>
        </section>

        <section class="section section-lg line-bottom-soft">
          <div class="container">
              {% include 'includes/footer_related_links.html' %}
          </div>
          <div class="container">
              {% include 'includes/footer_related_posts.html' %}
          </div>
          
        </section>



    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>

{% block javascripts %}

{% endblock javascripts %}




     


