

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}

<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header_light.html" %}

    <main>



        <section class="section section-lg line-bottom-soft">
            <div class="container">
                <div class="row justify-content-between align-items-center mb-5 mb-lg-7">

                   
                    <div class="col-lg-6">
                        <img src="/static/assets/img/icons/category_linkedin_banner.png" alt="category_linkedin_banner">
                    </div>
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <h1 class="h1 d-flex align-items-center">Linkedin Profile URLs</h1>
                        <span class="badge bg-info mb-5">Comming Soon</span>
                        <p class="mb-4 mt-5">Linkedin with about 800 million users and 60 million companies is the largest career social network that includes information about employers and employees in different categories. It has become a world-wild database of business and employment. </p>
                        <p>There is a demanding service to automate extracting the people and companies' Linkedin URLs. In profile browse this extracting service is developed to get LinkedIn URLs of queries with the fastest and most accurate process. You only need to provide the list of companies or people to upload in the profile browse dashboard and get the result of the Linkedin profile link in an excel file. If you concern to answer the question of "how to get linkedin url?", the profile browse will be the best solution.</p>
                        <a href="{% url 'register' %}" target="" class="btn btn-secondary d-inline-flex align-items-center me-3">
                            Try it free
                        </a>
                    </div>
                </div>
 
                
                <div class="row justify-content-center">
                    {% include "includes/most_frequent_questions_services.html" %}                
                </div>
            </div>
            
        </section>

        <section class="section section-lg line-bottom-soft">
            <div class="container">
                {% include 'includes/footer_related_links.html' %}
            </div>
            <div class="container">
                {% include 'includes/footer_related_posts.html' %}
            </div>
        </section>

    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>

{% block javascripts %}

{% endblock javascripts %}




     


