

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}
<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

        <section class="section-header pb-8 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Use key phrase extraction to quickly identify the main concepts in text</h1>
                        <p class="lead">Keyword extraction uses machine learning artificial intelligence (AI) with natural language processing (NLP) to break down human language so that it can be understood and analyzed by machines.</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>

{% block javascripts %}

{% endblock javascripts %}




     


