

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}
<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

        <section class="section-header pb-8 pb-lg-7 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Named Entity Recognition: identifying key information (Entities) in the text</h1>
                        <p class="lead">Named entity recognition (NER) is a natural language processing (NLP) technique that automatically identifies named entities in a text and classifies them into predefined categories. Entities such as names of people, organizations, locations, times, quantities, etc.</p>
                        <p style="text-align:center;">
                            <img class="mt-6 article-img-meidum" src="/static/assets/img/services_name_entity_recognition/NER.png" alt="key_phrases_extraction">
                        </p>
                    </div>
                    
                </div>
               
            </div>
            <div class="pattern bottom"></div>
        </section>

        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4 mt-3">What is named entity recognition (NER) and how can it use?</h1>
                        
                    </div>
                    <p class="lead">Named entity recognition (NER) that sometimes referred to as entity chunking, extraction, or identification, is the task of identifying and categorizing key information (entities) in text. An entity can be any word or series of words that consistently refers to the same thing. Every entity is classified into a predetermined category. With named entity recognition, you can extract key information to comprehend what a text is about, or use it to collect important information to store in a database.</p>
                    <p class="lead mt-2">NER is a form of natural language processing (NLP), a subfield of artificial intelligence. NLP is concerned with analyzing natural language, i.e., any language that has developed naturally, rather than artificially, such as with computer coding languages.</p>
                    <p class="lead mt-2">NER is used in many fields in Natural Language Processing (NLP), and it can help answering many real-world questions, such as:</p>
                    
                    <ul class="">
                        
                        <li data-placement="left" >
                            <p class="lead mt-2" >What is the importance of social network analysis? </p> 
                       </li>
                       <li data-placement="left" >
                            <p class="lead mt-2" >Were specified products mentioned in comments? </p>
                        </li>
                       <li data-placement="left" >
                            <p class="lead mt-2" >Does the tweet contain the name of a person? Does the tweet contain this person’s location? </p> 
                       </li>
                   
                    </ul>
                </div>
               
            </div>
        </section>

        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">

                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4 mt-3">Top 5 approaches to Named Entity Recognition (NER):</h1>
                        
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-12 col-md-4 text-center px-4 mb-5 mb-lg-0 mt-2">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <h5 class="mb-3">Rule-based</h5>
                        <p class="mb-6">
                            Rule-based systems are usually based on hand-crafted rules written by individuals. These rules can be based on patterns in the text or syntactic structure. While rules can be very practical in some fields, they can be challenging to develop and maintain.
                        </p>
                    </div>

                    <div class="col-12 col-md-4 text-center px-4 mb-5 mb-lg-0">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-area-chart"></i>
                        </div>
                        <h5 class="mb-3">Statistical models</h5>
                        <p class="mb-6">
                            Statistical models are based on the idea that named entities can be distinguished from other words in the text. Several statistical models have been developed for NER, including hidden Markov models (HMMs), maximum entropy (Maxent) models, and support vector machines (SVMs). These models can be effective, but they often require large number of training data.
                        </p>
                    </div>

                    <div class="col-12 col-md-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-share-alt"></i>
                        </div>
                        <h5 class="mb-3">Neural networks</h5>
                        <p class="mb-6">
                            Neural networks (NN) are a subset of machine learning approaches that used for NER. Neural networks are well-suited for this kind of analysis because they can learn complex patterns in data. However, neural networks require a large amount of training data to learn these patterns.
                        </p>
                        
                    </div>

                    <div class="col-12 col-md-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-th-large"></i>
                        </div>
                        <h5 class="mb-3">Hybrid systems</h5>
                        <p class="mb-6">
                            these are approaches that combine multiple approaches to NER. In some cases, a system may use a rule-based approach to identify person names and a statistical approach to identify organizations. Hybrid systems can be effective because they can use each approach’s strengths.
                        </p>
                        
                    </div>

                    <div class="col-12 col-md-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-tags"></i>
                        </div>
                        <h5 class="mb-3">Semantic role labeling</h5>
                        <p class="mb-6">
                            Semantic role labeling (SRL) is a related task that aims to identify each word’s role in a sentence. This is usually done by analyzing the syntactic structure of the sentence and the context of the entity in the sentence. 
                        </p>
                        
                    </div>

                    <div class="col-12 col-md-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-primary rounded mb-4">
                            <i class="fa fa-text-width"></i>
                        </div>
                        <h5 class="mb-3">Word embedding</h5>
                        <p class="mb-6">
                            Word embedding is also called word representation or distributed representation. It learns vector representation for every word appearing in the corpus. The one-hot representation uses a vocabulary-sized vector and takes a 1 when the word appears in the document and a zero when it does not. Word embedding reduces the dimensions and sparseness of the original vector and fills the vector with real numbers.
                        </p>
                        
                    </div>

                </div>
            </div>
        </section>

        <section class="section section-lg line-bottom-soft">
            <div class="container">
                {% include 'includes/footer_related_links.html' %}
            </div>
            <div class="container">
                {% include 'includes/footer_related_posts.html' %}
            </div>
            
          </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>

{% block javascripts %}

{% endblock javascripts %}




     


