

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}
<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

        <section class="section-header pb-8 pb-lg-13 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Sentiment analysis tools to explore the customers' emotions within the texts</h1>
                        <p class="lead">Sentiment Analysis aims at obtaining meaningful information and semantics from a text, by using natural processing techniques and determining the writer's attitude, whether positive, negative, or neutral.</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <section class="section section-lg pt-0">
            <div class="container mt-n7 mt-lg-n13 z-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4">
                        <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                            <div class="card-header text-center pb-0">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <h4 class="text-black">Positive</h4>
                                <p>
                                    If you are positive about things, you are hopeful and confident.                                
                                </p>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Think of the good aspects of a situation rather than the bad ones</div>
                                    </li>
                                    <li class="list-group-item d-flex px-0 pb-1">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Showing satisfaction level of experience by positive adjectives</div>
                                    </li>
                                    <li class="list-group-item d-flex px-0 pb-1">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Indicating good feeling about the process and service</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                            <div class="card-header text-center pb-0">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                    <i class="fa fa-frown-o"></i>
                                </div>
                                <h4 class="text-black">Negative</h4>
                                <p>
                                    expressing or meaning a refusal or denial.                                
                                </p>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Detecting sadness, hate, violence and inadequacy about a new product</div>
                                    </li>
                                    <li class="list-group-item d-flex px-0 pb-1">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Showing emptiness and usefulness about the service or process</div>
                                    </li>
                                    <li class="list-group-item d-flex px-0 pb-1">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Drastic changes need to be made</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card shadow-soft bg-white border-light animate-up-3 text-gray py-4 mb-5 mb-lg-0">
                            <div class="card-header text-center pb-0">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-3">
                                    <i class="fa fa-meh-o"></i>
                                </div>
                                <h4 class="text-black">Neutral</h4>
                                <p>
                                    Neither good nor bad, neutral comments aren't helping your reputation, but they aren't hurting it either.                              
                                </p>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex px-0 pt-0 pb-2">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Sign of concern since the customer can quickly turn to the positive or negative</div>
                                    </li>
                                    <li class="list-group-item d-flex px-0 pb-1">
                                        <div class="icon icon-sm icon-success mr-4">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                        <div>Not containing any definitive sentiment</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">What Is Sentiment Analysis?</h1>
                        <p class="lead">Sentiment analysis is an automated tool capable of understanding the feelings or emotions that underlie texts such as comments. It is one of the most interesting subfields of NLP, a branch of Artificial Intelligence (AI) that focuses on how machines process human language. By digging deeper into these elements, the tool uncovers more context from your conversations and helps your customer service team accurately analyze feedback. This is particularly useful for brands that actively engage with their customers on social media, live chat, and email where it can be difficult to determine the sentiment behind a message.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="row justify-content-center mt-5 mb-lg-3">

                        <div class="col-12 col-md-8 text-center">
                            <h1 class="display-3 mb-4">Applications of Adopting a Sentiment Analysis Tool for businesses</h1>
                        </div>
                    </div>

                    <div class="timeline timeline-six px-3 px-lg-0">
                        
                        <!-- Timeline Item 1 -->
                        <div class="row no-gutters">
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                            <!-- timeline item 1 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="d-none d-lg-block m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class=""><i class="fa fa-users" aria-hidden="true"></i></span> Social media monitoring</h4>
                                        <p class="my-2">There are more than 3.5 billion active social media users; that’s 45% of the world’s population. Every minute users send over 500,000 Tweets and post 510,000 Facebook comments, and a large amount of these messages contain valuable business insights about how customers feel about products, brands, and services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline Item 2 -->
                        <div class="row no-gutters">
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class=""><i class="fa fa-eye" aria-hidden="true"></i></span> Brand monitoring </h4>
                                        <p class="my-2">Besides social media, online conversations can take place in blogs, review websites, news websites, and forum discussions. Product reviews, for instance, have become a crucial step in the buyer’s journey. Consumers read at least 10 reviews before buying, and 57% only trust a business.</p>
                                        <p class="my-2 mt-4">Sentiment analysis is an excellent tool to keep a close eye on your brand’s reputation, find out what is right or wrong about your business, and understand more about your customers.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- timeline item 2 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>                                
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                        </div>
                        <!-- Timeline Item 3 -->
                        <div class="row no-gutters">
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                            <!-- timeline item 3 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class=""><i class="fa fa-address-card-o" aria-hidden="true"></i></span> Customer support analysis</h4>
                                        <p class="my-2">Providing outstanding customer service experiences should be a priority. After all, 96% of consumers say great customer service is a key factor to choose and stay loyal to a brand.Fortunately, sentiment analysis can help you make your customer support interactions faster and more practical.</p>
                                        <p class="my-2 mt-4">If you run sentiment analysis on all your incoming tickets, you can easily notice the most dissatisfied customers or the most urgent issues and prioritize them above the rest. In addition, you could forward tickets to the appropriate person or team in charge of dealing with them.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline Item 4 -->
                        <div class="row no-gutters">
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class=""><i class="fa fa-commenting-o" aria-hidden="true"></i></span> Customer feedback analysis</h4>
                                        <p>By using sentiments analytics regarding specific features of your product, you’ll find out what customers respect and oppose most about your product. Once your sentiment analysis process is up and running, you’ll also be able to compare results with previous comments and see how sentiments toward aspects of your product have improved over time.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- timeline item 4 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                                <div class="row h-50">
                                    <div class="col">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                        </div>
                        <!-- Timeline Item 5 -->
                        <div class="row no-gutters">
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                            <!-- timeline item 5 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class=""><i class="fa fa-line-chart" aria-hidden="true"></i></span> Market research </h4>
                                        <p class="my-2">To collect insights on customer feelings, experiences, and needs relating to a marketing campaign for a new product release, Sentiment analysis can help monitor online conversations about specific marketing strategies, so you can see how it’s performing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg pt-6">
            <div class="container">
              <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                  <h2 class="h1 font-weight-bolder mb-4">How Does Sentiment Analysis Work?</h2>
                  <p class="lead">The sentiment analysis algorithm determines if a chunk of text is positive, negative or neutral. It uses natural language processing (NLP) techniques such as part-of-speech tagging, lemmatization, prior polarity, negations, and semantic clustering.</p>
                </div>
              </div>
              <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5">
                  <h2 class="font-weight-bolder mb-4">Part-Of-Speech tagging (POS tagging)</h2>
                  <p class="lead">Part-of-speech (POS) tagging is a popular Natural Language Processing process which refers to categorizing words in a text (corpus) in correspondence with a particular part of speech, depending on the definition of the word and its context.</p>
                  <a href="/login/" class="btn btn-primary mt-3 animate-up-2">Learn More <span class="icon icon-xs ml-2">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                  </a>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                  <img src="/static/assets/img/services_sentiment_analysis/POS-Tagging.jpg" alt="POS-Tagging">
                </div>
              </div>
              <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5 order-md-2">
                  <h2 class="font-weight-bolder mb-4">Lemmatization</h2>
                  <p class="lead">In lemmatization, we try to reduce a given word to its root word. The root word is called a stem in the stemming process, and it is called a lemma in the lemmatization process.</p>
                  <p class="lead">A lemmatization algorithm would know that the word better is derived from the word good, and hence, the lemme is good. Because lemmatization involves deriving the meaning of a word from something like a dictionary, it’s very time consuming. So most lemmatization algorithms are slower compared to their stemming counterparts. There is also a computation overhead for lemmatization, however, in an ML problem, computational resources are rarely a cause of concern.</p>
                  <a href="/login/" class="btn btn-primary mt-3 animate-up-2">Test for Free <span class="icon icon-xs ml-2">
                      <i class="fas fa-external-link-alt"></i>
                    </span>
                  </a>
                </div>
                <div class="col-12 col-md-6 mr-lg-auto">
                    <img src="/static/assets/img/services_sentiment_analysis/Lemmatization.png" alt="Lemmatization">
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card border-light p-4">
                    <div class="card-body">
                      <h2 class="display-2 mb-2">36.5 trillion</h2>
                      <span>paragraphs comments tranied in our machine learning models.</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card border-light p-4">
                    <div class="card-body">
                      <h2 class="display-2 mb-2">500 million</h2>
                      <span>keyword phrases extracted</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card border-light p-4">
                    <div class="card-body">
                      <h2 class="display-2 mb-2">23</h2>
                      <span>languages supported in analytics insights</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>

{% block javascripts %}

{% endblock javascripts %}




     


