

<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head_title_description_variable.html" %}
<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

        <section class="section-header pb-8 pb-lg-7 mb-4 mb-lg-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Chrome Extension</h1>
                        <p class="lead">Chrome extension tool can be a useful way to extract comments from various websites easily. This type of tool can be installed as an extension to the Chrome browser, and once installed, it allows users to easily select and extract comments from a webpage with a simple click of a button.</p>
                        <p style="text-align:center;">
                            <img class="mt-6 article-img-meidum" height="150" src="/static/assets/img/illustrations/chrome_extension1.png" alt="key_phrases_extraction">
                        </p>
                    </div>
                    
                </div>
               
            </div>
            <div class="pattern bottom"></div>
        </section>

        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                
                <div class="row justify-content-center mb-5 mb-lg-1">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4 mt-3">What is CommentsAnalytics Chrome Extension?</h1>
                        
                    </div>
                    <p class="lead">CommentsAnalytics chrome extension tool can be a useful way to extract comments from platforms such as Youtube. This tool can be installed as an extension to the Chrome browser, and once installed, it allows users to easily go to video page and export comments from a Youtube video with a simple click of a button. </p>
                    <p class="lead mt-2">These comments can make it easier for businesses to extract and analyze customer feedback from their Youtube videos in order to gain insights and improve their content, marketing strategy and overall customer experience.</p>
                    <p class="lead mt-2">Furthermore, this can also help businesses to track their brand reputation by monitoring the comments on their videos and general perception of their brand.</p>
                    
                    <div class="row justify-content-center mt-6">
                        <div class="col col-md-10 text-center">
                            
                            <!-- Button -->
                            <a href="https://chrome.google.com/webstore/detail/commentsanalytics-comment/enafdhefaclokmhejcifkgiogmengdio"  class="btn btn-secondary animate-up-2">
                                <div class="fab fa-chrome"></div>
                                    Add to Chrome
                                <span class="cta-precision">(It's free)</span>
                                <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                            </a>

                            
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col col-md-2 text-center">
                            
                            <div class="fas fa-star"></div>
                            <div class="fas fa-star"></div>
                            <div class="fas fa-star"></div>
                            <div class="fas fa-star"></div>
                            <div class="fas fa-star"></div>
                            <div class="light-grey">(250+ reviews)</div>

                        </div>
                    </div>


                </div>
               
            </div>
        </section>

        <section class="section section-lg bg-soft">
            <div class="container">
              <div class="row justify-content-center mb-5 ">

              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                  <div class="card shadow-soft border-light">
                    <div class="card-header p-0">
                      <img src="/static/assets/img/illustrations/chrome_extension_step1.png" class="card-img-top rounded-top" alt="chrome_extension_step1">
                    </div>
                    
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                  <div class="card shadow-soft border-light">
                    <div class="card-header p-0">
                        <img src="/static/assets/img/illustrations/chrome_extension_step2.png" class="card-img-top rounded-top" alt="chrome_extension_step2">
                    </div>
                    
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                  <div class="card shadow-soft border-light">
                    <div class="card-header p-0">
                        <img src="/static/assets/img/illustrations/chrome_extension_step3.jpg" class="card-img-top rounded-top" alt="chrome_extension_step3">
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>

        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4 mt-6">Get Comments in 30 seconds</h1>
                        <p class="lead">Install CommentsAnalytics chrome extension to extract comments of Youtube video page and store the JSON file in your storage. You can use this JSON file in your CommentsAnalytics dashboard to create a new Bulk analysis request.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="timeline timeline-six px-3 px-lg-0">
                        <!-- Timeline Item 1 -->
                        <div class="row no-gutters">
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                            <!-- timeline item 1 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="d-none d-lg-block m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">1</span>
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class="d-lg-none">1.</span> Install</h4>
                                        <p class="my-2">Download it from Chrome webstore and <b><a href="https://chrome.google.com/webstore/detail/commentsanalytics-comment/enafdhefaclokmhejcifkgiogmengdio"> install </a></b> it on your browser. Please be sure to have latest chrome update.(> Version 88.0.4324.182)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline Item 2 -->
                        <div class="row no-gutters">
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class="d-lg-none">2.</span> Go to your comments page</h4>
                                        <p class="my-2">You need to go to your comments URL. For example you want to download all comments of your Youtube video. Get the URL of your video page.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- timeline item 3 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">2</span>                                
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                        </div>
                        <!-- Timeline Item 3 -->
                        <div class="row no-gutters">
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                            <!-- timeline item 3 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">3</span>
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class="d-lg-none">3.</span> Scroll down the page until all the comments have been loaded</h4>
                                        <p class="my-2">You need to <b>"scroll down"</b> the comments page until all the comments you want to export are loaded. Sometimes, webpages only load a certain number of comments at a time, so you'll need to keep scrolling to ensure that all the comments have been loaded.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline Item 4 -->
                        <div class="row no-gutters">
                            <!-- timeline profile card -->
                            <div class="col-lg py-2">
                                <div class="card left-timeline-card bg-soft shadow-soft border-light p-3">
                                    <div class="card-body p-4">
                                        <h4 class="mb-3"><span class="d-lg-none">4.</span> Export the comments</h4>
                                        <p>After the scroll down goes to the end of the page, all comment has extracted. By right click on the window and click on the <b>"Export Comments"</b> context menu, you can get export all comments in a JSON file.</p>
                                        <p>You can use this JSON file in creating a new "Bulk request" by uploading it on your CommentsAnalytics dashboard.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- timeline item 4 center image & middle line -->
                            <div class="col-lg-1 text-center flex-column d-none d-lg-flex">
                                <div class="row h-50">
                                    <div class="col middle-line">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <span class="m-4 h4 lh-200 dot-separator bg-soft shadow-soft border border-light text-primary">4</span>
                                <div class="row h-50">
                                    <div class="col">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <!--spacer-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>

</html>

{% block javascripts %}

{% endblock javascripts %}




     


