<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head.html" %}

<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

                <section class="section-header bg-primary text-white pb-7 pb-lg-11">
            <div class="container">
                <div class="row justify-content-center mb-6">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="display-2 mb-3">Privacy Policy</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col col-md-10">
                        <p class="lead mb-5 px-5">At CommentsAnalytics, we take the privacy of our users seriously. We understand that the comments and data provided by our users is sensitive information, and we are committed to protecting it. This privacy policy outlines the information we collect, how we use it, and the steps we take to safeguard it.</p>
                       
                        <h2 class="h2 d-flex mt-6 mb-4">Information We Collect:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                Comments and data provided by users on our website
                            </li>
                            <li data-placement="left" >
                                IP addresses and device information when users visit our website
                            </li>
                            <li data-placement="left" >
                                Information provided by users when they create an account or sign up for our services
                            </li>  
                        </ul>

                        <h2 class="h2 d-flex mt-6 mb-4">Use of Information:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                We use the comments and data provided by users to perform sentiment analysis and provide insights on customer opinions and feedback.
                            </li>
                            <li data-placement="left" >
                                We use IP addresses and device information to improve the security of our website and to detect and prevent fraudulent activity.
                            </li>
                            <li data-placement="left" >
                                We use the information provided by users when they create an account or sign up for our services to manage their accounts and provide them with access to our services.
                            </li>  
                        </ul>

                        <h2 class="h2 d-flex mt-6 mb-4">Information Sharing:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                We will not share or sell user data or comments to any third parties without the express consent of the user.
                            </li>
                            <li data-placement="left" >
                                We may share user data or comments with third parties in order to comply with legal requirements or to protect the rights and safety of our users or third parties.
                            </li>
                        </ul>

                        <h2 class="h2 d-flex mt-6 mb-4">Information Sharing:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                We will not share or sell user data or comments to any third parties without the express consent of the user.
                            </li>
                            <li data-placement="left" >
                                We may share user data or comments with third parties in order to comply with legal requirements or to protect the rights and safety of our users or third parties.
                            </li>
                        </ul>

                        <h2 class="h2 d-flex mt-6 mb-4">Security Measures:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                We use industry-standard security measures to protect user data and comments from unauthorized access or disclosure.
                            </li>
                            <li data-placement="left" >
                                We regularly review and update our security measures to ensure the ongoing protection of user data and comments.
                            </li>
                        </ul>

                        <h2 class="h2 d-flex mt-6 mb-4">Updates to Privacy Policy:</h2>
                        <ul class="list-style-none pl-4">
                            <li data-placement="left" >
                                We reserve the right to update this privacy policy as needed in order to reflect changes to our information collection and use practices.
                            </li>

                            <li data-placement="left" >
                                We will provide notice of any updates to this privacy policy on our website.
                            </li>
                        </ul>
                        
                        <p class="lead mb-5 mt-8 px-5">By using our website and services, you consent to the collection, use, and sharing of your information as outlined in this privacy policy.</p>
                       
                    </div>
                </div>


            </div>
            <div class="pattern bottom"></div>
        </section>


        <section class="section section-lg bg-white line-bottom-light">
            {% include 'includes/most_frequent_questions_pricing.html' %}  
        </section>
        
        <section class="section section-lg bg-soft pb-5 mb-6">
            <div class="container">
                <div class="row justify-content-center"> 
                    <div class="col-12">
                        <h3 class="mb-5 text-center">We accept PayPal and all major credit cards.</h3>
                    </div>
                    <div class="col-12 text-black text-center mb-5">
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-visa"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-mastercard"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-stripe"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-amazon-pay"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-paypal"></i>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        </span>Send us an email to <a href="mailto:info@commentsanalytics.com"><strong>info@commentsanalytics.com</strong></a>
                    </div>
                </div> 
            </div>    
        </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>

{% block javascripts %}

{% endblock javascripts %}




     


