<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head.html" %}

<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header.html" %}

    <main>

                <section class="section-header bg-primary text-white pb-7 pb-lg-11">
            <div class="container">
                <div class="row justify-content-center mb-6">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="display-2 mb-3">pricing plans</h1>
                        <p class="lead px-5">Get access to <span class="font-weight-bold">Comments Analytics</span> services, with your desired <span class="font-weight-bold">needs</span>
                    </div>
                </div>

                {% include "includes/plans_preview.html" %}

                <div class="row justify-content-center">
                    <div class="col col-md-10 text-center">
                        <h2 class="mb-3">Still not convinced? Start with a FREE trial!</h2>
                        <p class="lead mb-5 px-5">You will get full access to your Dashboard with all the features with Free plan.</p>
                        <!-- Button -->
                        <a href="{% url 'login' %}"  class="btn btn-secondary animate-up-2">
                            Start a free plan<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <section class="section section-lg pt-6 line-bottom-light">
            <div class="container">
                <div class="row justify-content-center mb-6">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">All subscriptions plan include these powerfull features</h1>
                        <p class="lead">We add new tools and features regularly.</p>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-12 col-md-6">
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-light mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-lg-row p-3">
                                    <div class="mb-3 mb-lg-0">
                                        <div class="icon icon-primary"><i class="fa fa-commenting-o"></i></div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <h5 class="mb-3">24/5 customer support</h5>
                                        <p>Have a question, concern or feedback for us? Our support team is just a quick chat or email away — 24 hours a day, Monday to Friday.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-light mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-lg-row p-3">
                                    <div class="mb-3 mb-lg-0">
                                        <div class="icon icon-primary"><i class="fa fa-address-card-o"></i></div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <h5 class="mb-3">Private insight features</h5>
                                        <p>Take full advantage of insights from the highly competitive websites in our customers-only community.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-light mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-lg-row p-3">
                                    <div class="mb-3 mb-lg-0">
                                        <div class="icon icon-primary"><i class="fa fa-book"></i></div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <h5 class="mb-3">Tailored learning materials</h5>
                                        <p>Ever notice that the insight tutorials on our blog, and in the our Academy, often feature our tools?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Icon Box -->
                        <div class="card shadow-soft border-light mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-lg-row p-3">
                                    <div class="mb-3 mb-lg-0">
                                        <div class="icon icon-primary"><i class="fa fa-cogs"></i></div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <h5 class="mb-3">New features released regularly</h5>
                                        <p>Our development cycle is fast. We frequently update existing tools and release updates — heavily influenced by requests from our customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg bg-white line-bottom-light">
            {% include 'includes/most_frequent_questions_pricing.html' %}  
        </section>
        
        <section class="section section-lg bg-soft pb-5 mb-6">
            <div class="container">
                <div class="row justify-content-center"> 
                    <div class="col-12">
                        <h3 class="mb-5 text-center">We accept PayPal and all major credit cards.</h3>
                    </div>
                    <div class="col-12 text-black text-center mb-5">
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-visa"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-mastercard"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-stripe"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-amazon-pay"></i>
                        </div>
                        <div class="icon icon-lg mr-2 mr-sm-3">
                            <i class="fab fa-cc-paypal"></i>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        </span>Send us an email to <a href="mailto:info@commentsanalytics.com"><strong>info@commentsanalytics.com</strong></a>
                    </div>
                </div> 
            </div>    
        </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>

{% block javascripts %}

{% endblock javascripts %}




     


