<!DOCTYPE html>
<html lang="en">

{% include "includes/homepage_head.html" %}

<body>

    {% include "includes/googletagmanager.html" %}

    {% include "includes/homepage_header_light.html" %}

    <main>

        <section class="section section-lg line-bottom-soft">
            <div class="container">
                <div class="row justify-content-center mb-6 mb-lg-10">
                    
                    <div class="d-flex align-items-center justify-content-center mt-6 mb-4">
                        <h1 class="fw-bolder" >profile browse Pricing</h1>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-4"> Plans tailored for all businesses, built to scale with your needs </p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mb-6">
                        <!-- <p class="mb-4"> Life Time Credit </p> -->
                        <h2 class="glow">Life Time Credit</h2>

                    </div>

                    {% include "includes/plans_preview_2.html" %}

                </div>   
                
                <div class="row justify-content-center">

                    {% include "includes/most_frequent_questions_pricing.html" %}
                
                </div>
            </div>
            
        </section>

        <section class="section section-lg line-bottom-soft">
            <div class="container">
                {% include 'includes/footer_related_links.html' %}
            </div>
            <div class="container">
                {% include 'includes/footer_related_posts.html' %}
            </div>
        </section>


    </main>

    {% include 'includes/homepage_footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>

{% block javascripts %}

{% endblock javascripts %}




     


