{% extends "layouts/base-fullscreen.html" %}

<!-- For Google Login -->
{% load socialaccount %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-50 mt-4 mt-lg-0 bg-soft d-flex align-items-center mt-4">
            <div class="container">
                
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-3 mt-md-0">
                                <p class="text-center">
                                    <a href="/" class="d-flex align-items-center justify-content-center">
                                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                        Back to homepage
                                    </a>
                                </p>
                                
                                <img width="120" height="120" src = "/static/assets/img/favicon/favicon_120x120.png" alt="Logo"/>

                                <h1 class="mb-0 h3 mt-4">Create Account </h1>

                                {% if msg %}
                                    {% if success %}
                                        <label style="color:green">{{ msg | safe }}</label>
                                    {% else %}
                                        <small style="color:red">{{ msg | safe }}</small>
                                    {% endif %}


                                {% else %}
                                    Add your credentials or <a href={% url 'login' %} >authenticate</a> with an existing account.
                                {% endif %}

                                <div id="spinner" class="" ></div> 

                                
                            </div>
                            <form action="{% url 'register' %}" method="POST" class="mt-4">
                                <!-- Form -->

                                {% csrf_token %}

                                <div class="form-group mb-4">
                                    <label for="email">Your Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        <input type="email" name="email" placeholder="Email" class="form-control" required id="id_email" value="{{ email }}">
                                    </div>  
                                </div>

                                {% if form_email_errors %}
                                    <ul  style="color:red" >
                                        <li><span class="text-error">{{ form_email_errors }}</span></li>
                                    </ul>
                                {% endif %}

                                <span class="text-error" style="color:red">{{ form.email.errors }}</span>


                                <div class="form-group mb-4">
                                    <label for="email">Your Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        <input type="text" name="username" placeholder="Username" class="form-control" autofocus required id="id_username" value="{{ username }}">
                                    </div>
                                </div>
                                <span class="text-error" style="color:red">{{ form.username.errors }}</span>

                                
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Your Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" name="password1" placeholder="Password" class="form-control" required id="id_password1" value = "{{ password1 }}">
                                        </div>  
                                    </div>
                                    <span class="text-error" style="color:red">{{ form.password1.errors }}</span>

                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="confirm_password">Confirm Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" name="password2" placeholder="Password check" class="form-control" required id="id_password2" value = "{{password2}}">
                                        </div>  
                                    </div>
                                    <span class="text-error" style="color:red">{{ form.password2.errors }}</span>

                                    <!-- End of Form -->
                                    <!-- <div class="mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ check_in }}" id="remember">
                                            <label class="form-check-label fw-normal mb-0" for="remember">
                                                I agree to the <a href="" class="fw-bold">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-gray-800">Sign up</button>
                                </div>
                            </form>
                            <div class="mt-3 mb-4 text-center">
                                <span class="fw-normal">or login with</span>
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <a href="{% provider_login_url "google" method="js_sdk" %}" class="btn btn-neutral btn-icon btn-pill ">
                                    <span class="btn-inner--icon"><img width="23" height="23" src="/static/assets/img/icons/google.svg" alt="Google Logo"></span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Already have an account? 
                                    <a href="{% url 'login' %}" class="fw-bold">Login here</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
function show_spinner() {
    document.getElementById("spinner").className='spinner-border';
}
</script>
{% endblock javascripts %}