{% extends "layouts/base_admin.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

        
    </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">

                <div class="text-center text-md-center mb-4 mt-md-0">

                    {% if msg and success %}
                    
                        <small style="color:green">{{ msg | safe }}</small>
                    {% else %}
                        <small style="color:red">{{ msg | safe }}</small>

                    {% endif %}
                </div>

                <form action="{% url 'change_password_admin' %}" method="POST">


                    
                   
                    {% csrf_token %}


                    <h2 class="h5 my-4">Change Password</h2>
                  
                    

                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="address">New Password</label>
                                <input class="form-control" name="new_password_1" type="text" placeholder="Enter your New Password ..." required>
                            </div>
                        </div>
                       
                    </div>
                    
                    <!-- hidden email variable passed to view -->
                    <input class="form-control" name="email" type="text" value = "{{ request.user.email }}" hidden>

                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <input class="form-control" name="new_password_2" type="text" placeholder="Confirm your New Password ..." required>
                            </div>
                        </div>
                       
                    </div>
                    
                    
                    <div class="mt-3">
                        
                        <button class="btn btn-gray-800 mt-2 animate-up-2">Change Password</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/team/profile-picture-7.png" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
              
                            <h5 class="fw-normal ">
                                {{ request.user.username }}
                            </h5>
                            <p class="text-gray mb-4">
                                {{ request.user.email }}
                            </p>
                            
                        </div>
                      </div>
                </div>
                
                
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
