{% extends "layouts/base_admin.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-2 mb-md-0">
          
      </div>
      
  </div>
  
  
    
</div>



<div class="row text-xxl-center">

    <div class="col-4 px-0 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                    <div>
                        <div class="h6 mb-0 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2 bi bi-cash" viewBox="0 0 16 16">
                                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
                              </svg>
                            Total Earning
                        </div>
                    </div>
                    <div id = "test">
                            $ {{ total_earning }}
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                    <div>
                        <div class="h6 mb-n2  d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2 bi bi-calendar-fill" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                               Avg Monthly Earning
                        </div>
                    </div>
                    <div>
                            $ {{ monthly_avg_earning }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card bg-yellow-100 border-0 shadow">
           
            <div class="card-body p-2">
                <div class="ct-chart-transactions-monthly ct-double-octave ct-series-b"></div>
                <div id = "transaction_table" hidden> {{ montly_earning_list }} </div>

            </div>
        </div>
    </div>
</div>


  
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        
        <h2 class="h4">Transactions History</h2>
    </div>
    
</div>

<form method= "POST">

    {% csrf_token %}
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">#</th>
                  <th class="border-gray-200">user</th>						
                  <th class="border-gray-200">Plan</th>
                  <th class="border-gray-200">price</th>
                  <th class="border-gray-200">count</th>
                  <th class="border-gray-200">type</th>
                  <th class="border-gray-200">payment_Date</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              {% for row in transaction_list %}

                <tr>
                    <td>
                        <a href="#" class="fw-bold">
                           {{ row.index }}
                        </a>
                    </td>
                    <td>
                        {{ row.user }}
                    </td>
                    <td>
                        {% include "includes/plan_text_show.html" %}
                    </td>
                    <td><span class="fw-bold">$ {{ row.price }}</span></td>                        
                    <td><span class="fw-bold">{{ row.count }}</span></td>
                    <td>
                        {% include "includes/payment_type.html" %}
                    </td>
                    <td><span class="fw-normal"> {{ row.payment_time }}</span></td>
                    

                    <!-- <td>
                        {% if row.status == 'Cancel' %}
                            <span style="color:black; background-color:#f5b478;"> {{ row.status }} </span>
                        {% elif row.status == 'Payment Failed' %}
                            <span style="color:black; background-color:#f5787e;"> {{ row.status }} </span>
                        {% elif row.status == 'Success' %}
                            <span style="color:black; background-color:#8cff66;"> {{ row.status }} </span>
                        {% endif %}
                    </td> -->

                </tr>
            {% endfor %}
                                                
          </tbody>
      </table>

      {% if total_items != 0 %}
        {% include "includes/pagination_GET.html" %}
      {% endif %}
  </div>

</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
