{% extends "layouts/base_admin.html" %}

{% block title %} UserList {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-block mb-4 mb-md-3 mt-md-3">          
      <h2 class="h4">All Users History</h2>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
        <div class="card bg-yellow-100 border-0 shadow">
           
            <div class="card-body p-2">
                <div class="ct-chart-transactions-monthly ct-double-octave ct-series-b"></div>
                <div id = "transaction_table" hidden> {{ monthly_users_list }} </div>

            </div>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0 mt-4">
        <h2 class="h4">All Users</h2>
    </div>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group ms-2 ms-lg-3">
            
              <button type="button" class="btn btn-sm btn-outline-gray-600">
                  <svg class="icon icon-xs me-2" fill="red" viewBox="0 0 20 20">
                      <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
                      <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
                  </svg>
              Export PDF
              </button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">
                  <svg class="icon icon-xs me-2" fill="green" viewBox="0 0 20 20">
                      <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
                  </svg>
                Export CSV
              </button>
        </div>
    </div> -->
 </div>
  
  
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-flush table-centered table-nowrap mb-0 rounded" id="datatable-searchable">
          <thead>
              <tr>
                  <th class="border-gray-200">#</th>
                  <th class="border-gray-200" width="30%">Email</th>						
                  <th class="border-gray-200">Remain Count</th>
                  <th class="border-gray-200" width="15%">Date Joined</th>
                  <th class="border-gray-200">Last Login</th>
                  <th class="border-gray-200" width="8%">Verify</th>                  
                  <th class="border-gray-200">Plan</th>
                  <th class="border-gray-200" width="18%">Action</th>
              </tr>
          </thead>
          <tbody>
              {% for row in users_list %}

                <tr>
                    <td>
                            {{ row.index }}
                    </td>
                    <td>
                        <div class="">
                            <span class="fw-bold">{{ row.email }} </span>
                            <span class="badge bg-ner-language"> {{ row.username }} </span>

                            <div class=" " width="30%">
                                <span class="badge bg-user-key-gray text-gray-800"> {{ row.user_key }} </span>
                            </div>
                        </div>
                        
                    </td>
                    <td><span class="fw-normal">
                        {% if row.is_superuser == False %}
                            {{ row.remain_count }}
                        {% endif %}
                    </span></td>                        
                    <td>
                        {% if row.is_superuser == False %}

                            <div class="">
                                <span class="fw-normal mr-6">{{ row.date_joined }}</span>
                                {% if row.expired_date != none %}
                                    {% if row.is_expired %}
                                        <span class="badge bg-ner-org"> {{ row.expired_date }} </span>
                                    {% else %}
                                        <span class="badge bg-ner-product-green text-gray-800"> {{ row.expired_date }} </span>

                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                    </td>


                    {% if row.last_login == None %}
                        <td><span class="fw-normal"> </span></td>
                    {% else %}
                        <td><span class="fw-normal">{{ row.last_login }}</span></td>
                    {% endif %}
                    
                    {% if row.is_active %}
                        
                        <td><span style="color:#3385ff;">
                            {% if row.is_superuser == False %}
                                <svg class="" width="22" height="22" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path></svg>
                                Email
                                </span>
                            {% endif %}
                        </td>
                    {% else %}
                        <td><span style="color:#afabab;">
                            {% if row.is_superuser == False %}
                                <svg class="" width="22" height="22" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path></svg>
                                Email
                                </span>
                            {% endif %}
                        </td>
                    {% endif %}


                    <td>
                        {% include "includes/plan_text_show.html" %}
                    </td>
                    <td>
                        {% if row.is_superuser == False %}

                            <!-- <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu py-0">
                                    <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                                    <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
                                    <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
                                </div>
                            </div> -->
                            
                            
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-update_{{row.id}}" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-slash-minus" viewBox="0 0 16 16">
                                            <path d="m1.854 14.854 13-13a.5.5 0 0 0-.708-.708l-13 13a.5.5 0 0 0 .708.708ZM4 1a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 4 1Zm5 11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 9 12Z"/>
                                        </svg>
                                    </button>

                                    <!-- <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-details" type="submit" onclick="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2 bi bi-person-bounding-box" viewBox="0 0 16 16">
                                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        </svg>
                                    </button> -->

                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-resend" type="submit" onclick="resend_button_clicked('{{ row.id }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" me-2 bi bi-send-check" viewBox="0 0 16 16">
                                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
                                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                                        </svg>
                                    </button>

                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-change_password_{{row.id}}" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>    
                                    </button>
                                
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-default-delete" type="submit" onclick="delete_button_clicked('{{ row.id }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 20 20">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>

                                
                                <!-- Modal Content update -->
                                <div class="modal fade" id="modal-default-update_{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <form action="/udpate_remain_count_user_admin/user_{{ row.id }}" method= "POST">
                                                {% csrf_token %}

                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p name="modal_title", id="modal_title">Are you sure to update creadit remain of this user?</p>
                                                                                                    
                                                    <label>User : {{ row.email }}</label>
                                                    <div class="form-group">
                                                        <label for="address">Count (<B style="color:red">*</B>)</label>
                                                        <input class="form-control" name="input_update_count" type="text" placeholder="Enter Update Count of User here ..." value="{{ user_update_count_selected }}" required> <!-- required -->
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-green-800" type="submit">Yes</button>
                                                    <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Content change_password -->
                                <div class="modal fade" id="modal-default-change_password_{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <form action="/change_password_user_admin/user_{{ row.id }}" method= "POST">
                                                {% csrf_token %}

                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p name="modal_title", id="modal_title">Are you sure to change password of this user?</p>
                                                                                                    
                                                    <label>User : {{ row.email }}</label>

                                                    <div class="form-group">
                                                        <input class="form-control" name="new_password_1" id="new_password_1" type="text" placeholder="Enter New Password here ..." value="{{ new_password_1 }}" required> <!-- required -->
                                                        <input class="mt-2 form-control" name="new_password_2" id="new_password_2" type="text" placeholder="Repeat New Password here ..." value="{{ new_password_2 }}" required> <!-- required -->
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-green-800" type="submit">Yes</button>
                                                    <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Content Delete -->
                                <div class="modal fade" id="modal-default-delete" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p name="modal_title", id="modal_title">Are you sure to remove this user?</p>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <a name = 'modal_a' id = 'modal_a' class="btn btn-secondary"  >Yes</a>
                                                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Content Resend -->
                                <div class="modal fade" id="modal-default-resend" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p name="modal_title", id="modal_title">Are you sure to resend verification email to this user?</p>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <a name = 'modal_resend' id = 'modal_resend' class="btn btn-secondary"  >Yes</a>
                                                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}

                                           
          </tbody>
      </table>
      
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">

    function delete_button_clicked(user_id_input) {
      document.getElementById('modal_a').href="/delete_user_admin/user_" + user_id_input;
    }

    function resend_button_clicked(user_id_input) {
      document.getElementById('modal_resend').href="/resend_email_user_admin/user_" + user_id_input;
    }
    
</script>

{% endblock javascripts %}
